#caja-modal1{
     display: none; 
     width: 400px;
     height: 150px;
     position: absolute;
     background-color:salmon;
     left: 50px;
     top: 50px;
     z-index: 10;
  }

#caja-modal2{
   border: 1px solid teal;
   border-radius: 10px;
   padding: 2em;
   background-color: #fefefe;
   width:50%;
   margin:10% auto;
   z-index: 10;
 }