h1{
    background-color: aquamarine;
    padding: 30px;
}
a{
    text-decoration: none;
    padding: 30px;
    background-color: teal;
    color: white;
    float: left;
    box-sizing: border-box;
    border: 7px solid white;
}
#contenido{
    position: relative;
    box-sizing: border-box;
    clear: left;
}